<!-- <section id="clients" class="py-5">
  <div class="container">
    <h1>Our Clients Section</h1>
    <p>This is the Our Clients section</p>
  </div>
</section> -->

<!-- Testimonial Start -->
<!-- <div
  class="container-fluid testimonial py-5 wow zoomInDown"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <div class="section-title mb-5">
      <div class="sub-style">
        <h4 class="sub-title text-white px-3 mb-0">Testimonial</h4>
      </div>
      <h1 class="display-3 mb-4">What Clients are Say</h1>
    </div>
    <div class="testimonial-carousel owl-carousel">
      <div class="testimonial-item">
        <div class="testimonial-inner p-5">
          <div class="testimonial-inner-img mb-4">
            <img
              src="../../../../assets/img/testimonial-img.jpg"
              class="img-fluid rounded-circle"
              alt=""
            />
          </div>
          <p class="text-white fs-7">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
            nemo facilis tempora esse explicabo sed! Dignissimos quia ullam
            pariatur blanditiis sed voluptatum. Totam aut quidem laudantium
            tempora. Minima, saepe earum!
          </p>
          <div class="text-center">
            <h5 class="mb-2">John Abraham</h5>
            <p class="mb-2 text-white-50">New York, USA</p>
            <div class="d-flex justify-content-center">
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item">
        <div class="testimonial-inner p-5">
          <div class="testimonial-inner-img mb-4">
            <img
              src="../../../../assets/img/testimonial-img.jpg"
              class="img-fluid rounded-circle"
              alt=""
            />
          </div>
          <p class="text-white fs-7">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
            nemo facilis tempora esse explicabo sed! Dignissimos quia ullam
            pariatur blanditiis sed voluptatum. Totam aut quidem laudantium
            tempora. Minima, saepe earum!
          </p>
          <div class="text-center">
            <h5 class="mb-2">John Abraham</h5>
            <p class="mb-2 text-white-50">New York, USA</p>
            <div class="d-flex justify-content-center">
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item">
        <div class="testimonial-inner p-5">
          <div class="testimonial-inner-img mb-4">
            <img
              src="../../../../assets/img/testimonial-img.jpg"
              class="img-fluid rounded-circle"
              alt=""
            />
          </div>
          <p class="text-white fs-7">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
            nemo facilis tempora esse explicabo sed! Dignissimos quia ullam
            pariatur blanditiis sed voluptatum. Totam aut quidem laudantium
            tempora. Minima, saepe earum!
          </p>
          <div class="text-center">
            <h5 class="mb-2">John Abraham</h5>
            <p class="mb-2 text-white-50">New York, USA</p>
            <div class="d-flex justify-content-center">
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
              <i class="fas fa-star text-secondary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Testimonial End -->

<!-- Testimonial Start -->
<!-- <div
  class="owl-carousel testimonial-carousel wow fadeInUp owl-loaded owl-drag"
  data-wow-delay="0.6s"
  style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp"
>
  <div class="owl-stage-outer">
    <div
      class="owl-stage"
      style="
        transition: all 1.5s ease 0s;
        width: 4320px;
        transform: translate3d(-864px, 0px, 0px);
      "
    >
      <div class="owl-item cloned" style="width: 432px">
        <div class="testimonial-item bg-light my-4">
          <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
            <img
              class="img-fluid rounded"
              src="img/testimonial-2.jpg"
              style="width: 60px; height: 60px"
            />
            <div class="ps-4">
              <h4 class="text-primary mb-1">Client Name</h4>
              <small class="text-uppercase">Profession</small>
            </div>
          </div>
          <div class="pt-4 pb-5 px-5">
            Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
            amet eirmod eos labore diam
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 432px">
        <div class="testimonial-item bg-light my-4">
          <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
            <img
              class="img-fluid rounded"
              src="img/testimonial-3.jpg"
              style="width: 60px; height: 60px"
            />
            <div class="ps-4">
              <h4 class="text-primary mb-1">Client Name</h4>
              <small class="text-uppercase">Profession</small>
            </div>
          </div>
          <div class="pt-4 pb-5 px-5">
            Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
            amet eirmod eos labore diam
          </div>
        </div>
      </div>
      <div class="owl-item cloned active" style="width: 432px">
        <div class="testimonial-item bg-light my-4">
          <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
            <img
              class="img-fluid rounded"
              src="img/testimonial-4.jpg"
              style="width: 60px; height: 60px"
            />
            <div class="ps-4">
              <h4 class="text-primary mb-1">Client Name</h4>
              <small class="text-uppercase">Profession</small>
            </div>
          </div>
          <div class="pt-4 pb-5 px-5">
            Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
            amet eirmod eos labore diam
          </div>
        </div>
      </div>
      <div class="owl-item active center" style="width: 432px">
        <div class="testimonial-item bg-light my-4">
          <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
            <img
              class="img-fluid rounded"
              src="img/testimonial-1.jpg"
              style="width: 60px; height: 60px"
            />
            <div class="ps-4">
              <h4 class="text-primary mb-1">Client Name</h4>
              <small class="text-uppercase">Profession</small>
            </div>
          </div>
          <div class="pt-4 pb-5 px-5">
            Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
            amet eirmod eos labore diam
          </div>
        </div>
      </div>
      <div class="owl-item active" style="width: 432px">
        <div class="testimonial-item bg-light my-4">
          <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
            <img
              class="img-fluid rounded"
              src="img/testimonial-2.jpg"
              style="width: 60px; height: 60px"
            />
            <div class="ps-4">
              <h4 class="text-primary mb-1">Client Name</h4>
              <small class="text-uppercase">Profession</small>
            </div>
          </div>
          <div class="pt-4 pb-5 px-5">
            Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
            amet eirmod eos labore diam
          </div>
        </div>
      </div>
      <div class="owl-item" style="width: 432px">
        <div class="testimonial-item bg-light my-4">
          <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
            <img
              class="img-fluid rounded"
              src="img/testimonial-3.jpg"
              style="width: 60px; height: 60px"
            />
            <div class="ps-4">
              <h4 class="text-primary mb-1">Client Name</h4>
              <small class="text-uppercase">Profession</small>
            </div>
          </div>
          <div class="pt-4 pb-5 px-5">
            Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
            amet eirmod eos labore diam
          </div>
        </div>
      </div>
      <div class="owl-item" style="width: 432px">
        <div class="testimonial-item bg-light my-4">
          <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
            <img
              class="img-fluid rounded"
              src="img/testimonial-4.jpg"
              style="width: 60px; height: 60px"
            />
            <div class="ps-4">
              <h4 class="text-primary mb-1">Client Name</h4>
              <small class="text-uppercase">Profession</small>
            </div>
          </div>
          <div class="pt-4 pb-5 px-5">
            Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
            amet eirmod eos labore diam
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 432px">
        <div class="testimonial-item bg-light my-4">
          <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
            <img
              class="img-fluid rounded"
              src="img/testimonial-1.jpg"
              style="width: 60px; height: 60px"
            />
            <div class="ps-4">
              <h4 class="text-primary mb-1">Client Name</h4>
              <small class="text-uppercase">Profession</small>
            </div>
          </div>
          <div class="pt-4 pb-5 px-5">
            Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
            amet eirmod eos labore diam
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 432px">
        <div class="testimonial-item bg-light my-4">
          <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
            <img
              class="img-fluid rounded"
              src="img/testimonial-2.jpg"
              style="width: 60px; height: 60px"
            />
            <div class="ps-4">
              <h4 class="text-primary mb-1">Client Name</h4>
              <small class="text-uppercase">Profession</small>
            </div>
          </div>
          <div class="pt-4 pb-5 px-5">
            Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
            amet eirmod eos labore diam
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 432px">
        <div class="testimonial-item bg-light my-4">
          <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
            <img
              class="img-fluid rounded"
              src="img/testimonial-3.jpg"
              style="width: 60px; height: 60px"
            />
            <div class="ps-4">
              <h4 class="text-primary mb-1">Client Name</h4>
              <small class="text-uppercase">Profession</small>
            </div>
          </div>
          <div class="pt-4 pb-5 px-5">
            Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
            amet eirmod eos labore diam
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="owl-nav disabled">
    <div class="owl-prev">prev</div>
    <div class="owl-next">next</div>
  </div>
  <div class="owl-dots">
    <div class="owl-dot active"><span></span></div>
    <div class="owl-dot"><span></span></div>
    <div class="owl-dot"><span></span></div>
    <div class="owl-dot"><span></span></div>
  </div>
</div> -->
<!-- <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title text-center position-relative pb-3 mb-4 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
      <h1 class="mb-0">What Our Clients Say About Our Digital Services</h1>
    </div>
    <div class="testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
      <div class="testimonial-item bg-light my-4">
        <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
          <img
            class="img-fluid rounded"
            src="../../../../assets/img/testimonial-1.jpg"
            style="width: 60px; height: 60px"
          />
          <div class="ps-4">
            <h4 class="text-primary mb-1">Client Name</h4>
            <small class="text-uppercase">Profession</small>
          </div>
        </div>
        <div class="pt-4 pb-5 px-5">
          Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
          amet eirmod eos labore diam
        </div>
      </div>
      <div class="testimonial-item bg-light my-4">
        <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
          <img
            class="img-fluid rounded"
            src="../../../../assets/img/testimonial-2.jpg"
            style="width: 60px; height: 60px"
          />
          <div class="ps-4">
            <h4 class="text-primary mb-1">Client Name</h4>
            <small class="text-uppercase">Profession</small>
          </div>
        </div>
        <div class="pt-4 pb-5 px-5">
          Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
          amet eirmod eos labore diam
        </div>
      </div>
      <div class="testimonial-item bg-light my-4">
        <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
          <img
            class="img-fluid rounded"
            src="../../../../assets/img/testimonial-3.jpg"
            style="width: 60px; height: 60px"
          />
          <div class="ps-4">
            <h4 class="text-primary mb-1">Client Name</h4>
            <small class="text-uppercase">Profession</small>
          </div>
        </div>
        <div class="pt-4 pb-5 px-5">
          Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
          amet eirmod eos labore diam
        </div>
      </div>
      <div class="testimonial-item bg-light my-4">
        <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
          <img
            class="img-fluid rounded"
            src="../../../../assets/img/testimonial-4.jpg"
            style="width: 60px; height: 60px"
          />
          <div class="ps-4">
            <h4 class="text-primary mb-1">Client Name</h4>
            <small class="text-uppercase">Profession</small>
          </div>
        </div>
        <div class="pt-4 pb-5 px-5">
          Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet
          amet eirmod eos labore diam
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Testimonial End -->
<section class="spacer">
  <div class="testimonial-section">
    <div class="testi-user-img">
      <div class="swiper-container gallery-thumbs" #galleryThumbs>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="u3"
              src="https://md-aqil.github.io/images/2091127763_1_1_1.jpg"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              class="u1"
              src="https://md-aqil.github.io/images/beautiful-beauty-face-2657838.jpg"
              alt=""
            />
          </div>
          <div class="swiper-slide">
            <img
              class="u2"
              src="https://md-aqil.github.io/images/attractive-beautiful-beauty-1986684.jpg"
              alt=""
            />
          </div>

          <div class="swiper-slide">
            <img
              class="u4"
              src="https://md-aqil.github.io/images/beautiful-beauty-face-2657838.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="user-saying">
      <div class="swiper-container testimonial" #testimonial>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="quote">
              <img
                class="quote-icon"
                src="https://md-aqil.github.io/images/quote.png"
                alt=""
              />
              <p>
                “This is the best and biggest unified platform for instant
                online admission. We can easily take admission for any course in
                any institute..“
              </p>
              <div class="name">-Ramkishor Verma-</div>
              <div class="designation">University Student</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="quote">
              <img
                class="quote-icon"
                src="https://md-aqil.github.io/images/quote.png"
                alt=""
              />

              <p>
                “This is the best and biggest unified platform for instant
                online admission. We can easily take admission for any course in
                any institute..“
              </p>
              <div class="name">-Ramkishor Verma-</div>
              <div class="designation">University Student</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="quote">
              <img
                class="quote-icon"
                src="https://md-aqil.github.io/images/quote.png"
                alt=""
              />

              <p>
                “This is the best and biggest unified platform for instant
                online admission. We can easily take admission for any course in
                any institute..“
              </p>
              <div class="name">-Ramkishor Verma-</div>
              <div class="designation">University Student</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="quote">
              <img
                class="quote-icon"
                src="https://md-aqil.github.io/images/quote.png"
                alt=""
              />

              <p>
                “This is the best and biggest unified platform for instant
                online admission. We can easily take admission for any course in
                any institute..“
              </p>
              <div class="name">-Ramkishor Verma-</div>
              <div class="designation">University Student</div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-white"></div>
      </div>
    </div>
  </div>
</section>
