<!-- Services Start -->
<!-- <div class="container-fluid service py-5">
  <div class="container py-5">
    <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
      <div class="sub-style">
        <h4 class="sub-title px-3 mb-0">What We Do</h4>
      </div>
      <h1 class="display-3 mb-4">
        Our Service Given Physio Therapy By Expert.
      </h1>
      <p class="mb-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
        deleniti amet at atque sequi quibusdam cumque itaque repudiandae
        temporibus, eius nam mollitia voluptas maxime veniam necessitatibus
        saepe in ab? Repellat!
      </p>
    </div>
    <div class="row g-4 justify-content-center">
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="../our-services-section/../../../../assets/img/service-1.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Message Therapy</h5>
              <p class="mb-4">
                Dolor, sit amet consectetur adipisicing elit. Soluta inventore
                cum accusamus, dolor qui ullam
              </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="../our-services-section/../../../../assets/img/service-2.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Physiotherapy</h5>
              <p class="mb-4">
                Dolor, sit amet consectetur adipisicing elit. Soluta inventore
                cum accusamus, dolor qui ullam
              </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="../our-services-section/../../../../assets/img/service-3.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Heat & Cold Therapy</h5>
              <p class="mb-4">
                Dolor, sit amet consectetur adipisicing elit. Soluta inventore
                cum accusamus, dolor qui ullam
              </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.7s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="../our-services-section/../../../../assets/img/service-4.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Chiropatic Therapy</h5>
              <p class="mb-4">
                Dolor, sit amet consectetur adipisicing elit. Soluta inventore
                cum accusamus, dolor qui ullam
              </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="../our-services-section/../../../../assets/img/service-5.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Work Injuries</h5>
              <p class="mb-4">
                Dolor, sit amet consectetur adipisicing elit. Soluta inventore
                cum accusamus, dolor qui ullam
              </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="../our-services-section/../../../../assets/img/service-6.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Spot Injuries</h5>
              <p class="mb-4">
                Dolor, sit amet consectetur adipisicing elit. Soluta inventore
                cum accusamus, dolor qui ullam
              </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="../our-services-section/../../../../assets/img/service-7.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Regular Therapy</h5>
              <p class="mb-4">
                Dolor, sit amet consectetur adipisicing elit. Soluta inventore
                cum accusamus, dolor qui ullam
              </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.7s"
      >
        <div class="service-item rounded">
          <div class="service-img rounded-top">
            <img
              src="../our-services-section/../../../../assets/img/service-8.jpg"
              class="img-fluid rounded-top w-100"
              alt=""
            />
          </div>
          <div class="service-content rounded-bottom bg-light p-4">
            <div class="service-content-inner">
              <h5 class="mb-4">Back Pain</h5>
              <p class="mb-4">
                Dolor, sit amet consectetur adipisicing elit. Soluta inventore
                cum accusamus, dolor qui ullam
              </p>
              <a
                href="#"
                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
        <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#"
          >Services More</a
        >
      </div>
    </div>
  </div>
</div> -->
<!-- Services End -->

<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold textprimaryTheam text-uppercase">{{ "our-services.tital-one" | translate }}</h5>

      <p class="mb-0">
        {{ "our-services.tital-tow" | translate }}
      
      </p>
    </div>
    <div class="row g-5 mt-3">
      <div class="col-lg-4 col-md-6 wow zoomIn mt-5" data-wow-delay="0.3s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <!-- <i class="fa fa-shield-alt text-white"></i> -->
            <i class="fa fa-graduation-cap fa-2x custom-icon-color" aria-hidden="true" ></i>
          </div>
          <h4 class="mb-3">{{ "our-services.icon-tital-one" | translate }}</h4>
          <p class="m-0">{{ "our-services.icon-body-one" | translate }}
          
          </p>
          <a
            class="btn btn-lg btn-primary rounded"
            [routerLink]="['/Home/Lms']"
          >
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
     
      <div class="col-lg-4 col-md-6 wow zoomIn mt-5" data-wow-delay="0.9s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <!-- <i class="fa fa-code text-white"></i> -->
            <i class="fa fa-code fa-2x custom-icon-color" aria-hidden="true"></i>
            
          </div>
          <h4 class="mb-3">{{ "our-services.icon-tital-two" | translate }}</h4>
          <p class="m-0">{{ "our-services.icon-body-two" | translate }}
            
          </p>
          <!-- <a class="btn btn-lg btn-primary rounded" href="">
            <i class="bi bi-arrow-right"></i>
          </a> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn mt-5" data-wow-delay="0.6s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <!-- <i class="fa fa-search text-white"></i> -->
        
  
 
  <!-- Vector Square Icon with custom color -->
  <i class="fas fa-bar-chart custom-icon-color fa-2x"></i>
          </div>
          <h4 class="mb-3">{{ "our-services.icon-tital-three" | translate }}</h4>
          <p class="m-0">{{ "our-services.icon-body-three" | translate }}
        
          </p>
          
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 wow zoomIn mt-5" data-wow-delay="0.6s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
          <!-- <i class="fa fa-search text-white"></i> -->
          <i class="fa fa-calendar custom-icon-color fa-2x" aria-hidden="true"></i>

          </div>
          <!-- <h4 class="mb-3">Social Media Management</h4> -->

          <h4 class="mb-3">{{ "our-services.icon-tital-seven" | translate }}</h4>
          <p class="m-0">{{ "our-services.icon-body-seven" | translate }}
             
          </p>
           
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn mt-5" data-wow-delay="0.3s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <!-- <i class="fab fa-android text-white"></i> -->
            <i class="fa fa-shield custom-icon-color fa-2x" aria-hidden="true"></i>

          </div>
          <h4 class="mb-3">{{ "our-services.icon-tital-five" | translate }}</h4>
          <p class="m-0">{{ "our-services.icon-body-five" | translate }}
       
             <!-- Our expert team uses the latest
            technologies and best practices to protect your data, -->
          </p>
          <a class="btn btn-lg btn-primary rounded" routerLink="/Home/Security">
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 wow zoomIn mt-5" data-wow-delay="0.6s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
          <!-- <i class="fa fa-search text-white"></i> -->
          <i class="fa fa-search custom-icon-color fa-2x" aria-hidden="true"></i>

          </div>
          <!-- <h4 class="mb-3">Social Media Management</h4> -->

          <h4 class="mb-3">{{ "our-services.icon-tital-four" | translate }}</h4>
          <p class="m-0">{{ "our-services.icon-body-four" | translate }}
            
             <!-- Our
            comprehensive SEO strategies are tailored to your unique needs -->
          </p>
          <!-- <p class="m-0">
            With social media management we put you in front of people, managing
            your online presence on social media platforms like Facebook,
            Instagram, and Twitter by creating, publishing, and analyzing
            content you post.
          </p> -->
          <!-- <a class="btn btn-lg btn-primary rounded" href="">
            <i class="bi bi-arrow-right"></i>
          </a> -->
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
        <div
          class="position-relative primarycolorTheam rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5"
        >
          <a href="tel:+962 7 9550 8124" class="no-underline">
            <h3 class="text-white mb-3">{{ "our-services.icon-tital-six" | translate }}</h3>
            <p class="text-white mb-3">{{ "our-services.icon-body-sex" | translate }}
              
            </p>
            <h4 class="text-white mb-0">{{ "our-services.number" | translate }}</h4>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- Service End -->
