<!-- Home Section -->
<app-home-section></app-home-section>
<app-featuer-facts></app-featuer-facts>
<!-- About Section -->

<app-about-section></app-about-section>

<app-feature></app-feature>
<!-- <app-why-dss></app-why-dss> -->
<!-- Services Section -->
<app-our-services-section></app-our-services-section>
<!-- Contact Section -->
 <!-- ضرورية  -->
<!-- <app-contact-us></app-contact-us> -->
 <app-contact-usfor-page></app-contact-usfor-page>
<!-- Clients Section -->
<app-clients-section></app-clients-section>

<app-team> </app-team>

<!-- <app-fearuer2></app-fearuer2> -->

<!-- Projects Section -->
<!-- <app-projects-section> </app-projects-section> -->
<app-lms-our-project></app-lms-our-project>
<app-home-back-to-top></app-home-back-to-top>

