<!------------------------------>
<!--Section Name---------------->
<!------------------------------>
<!-- <div class="block-33 space-between-blocks mt-5 mb-5">
  <div class="container">
    <div class="col-lg-8 col-xl-7 mx-auto text-center mb-4">
      <h1 class="block__title">Mission</h1>
      <p class="block__paragraph">
        At Deep Service Solutions (DSS), our mission is to deliver innovative
        service solutions that exceed client expectations in the Middle East.
        Through tailored services like website design, LMS solutions, and
        comprehensive service design, we empower businesses to achieve their
        goals efficiently. Our commitment to collaboration, creativity, and
        technology drives growth, fosters partnerships, and creates positive
        community impact.
      </p>
    </div> -->
    <!-- <div class="text-center mt-1">
      <a href="#!" class="btn btn-primary">Give it a try now</a>
    </div>
    <div
      class="block-33__img-container col-lg-8 col-xl-10 mx-auto position-relative"
    >
      <img class="block-33__img" src="../../../../assets/img/2633323.jpg" />
    </div> -->
  <!-- </div>
</div> -->





<!------------------------------>
<!--Section Name---------------->
<!------------------------------>
<div class="block-8-scr space-between-blocks mt-5 mb-5">
  <div class="container position-relative">
    <div class="row px-2 align-items-center flex-column-reverse flex-lg-row">
      
      <!-- CONTENT -->
      <div class="col-lg-6 position-relative mt-4 mt-lg-0">
        <h1 class="block__title block__title--big mb-3">
          <span class="highlight">{{ "about.Mission" | translate }}</span>
        </h1>
        <p class="block__paragraph block__paragraph--big mb-0">
          {{ "about.MissionBody" | translate }}
        </p>
      </div>
      <!-- IMAGE -->
      <div class="col-lg-6 my-5 my-lg-0 p-lg-5 text-center">
        <div class="block-8-scr__img-container position-relative">
          <div class="image-container">
            <img
              class="block-8-scr__img w-100"
              src="../../../../assets/img/missionImg.png"
            />
            <div class="svg-container">
              <svg class="block-8-scr-scr-dots-svg">
                <defs>
                  <pattern
                    id="pattern"
                    width="19"
                    height="19"
                    viewBox="0 0 40 40"
                    patternUnits="userSpaceOnUse"
                    patternTransform="rotate(90)"
                  >
                    <rect
                      id="pattern-background"
                      x="0"
                      y="0"
                      width="400%"
                      height="400%"
                      fill="transparent"
                    ></rect>
                    <circle
                      cx="20"
                      cy="20"
                      r="4"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="0"
                    ></circle>
                    <circle
                      cx="20"
                      cy="20"
                      r="0"
                      fill="currentColor"
                      stroke="currentColor"
                      stroke-width="0"
                    ></circle>
                  </pattern>
                </defs>
                <rect
                  fill="url(#pattern)"
                  height="100%"
                  width="100%"
                  y="0"
                  x="0"
                ></rect>
              </svg>
            </div>
          </div>
            
        </div>
      </div>
    </div>
  </div>
</div>