<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    crossorigin="anonymous"
  />
</head>

<body class="d-flex justify-content-center">
  <div class="container rounded h-75 w-50 m-5 p-5 text-dark primarycolorTheam">
    <h1>FAQ</h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            هل يمكنكم نقل طلاب منصتي القديمة و المساقات و الفيديوهات الى منصة
            جديدة ؟ أم انني بحاجة الى نقلها يدويا ؟
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong> </strong>

            نعم يمكننا نقل جميع البيانات من المنصة القديمة بما يشمل الطلاب و
            المدرسين و المساقات ومحتوياتها.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            هل يمكنني بيع المساقات في أكثر من دولة ضمن عملة الدولة للطالب ؟
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong> </strong>

            نعم يمكنك البيع في عدة دول وجعل العملة المراد الدفع بها هي عملة دولة
            الطالب .
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            هل يوجد حد اعلى لعدد الطلاب او المساقات ؟
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong> </strong>

            لا يوجد حد لعدد الطلاب او المحتوى
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse4"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            هل يمكن أن أبدأ بمنصة فردية لمدرس واحد ثم أقوم بتطويرها لاحثا لتصبح
            لمجموعة من المدرسين ؟
          </button>
        </h2>
        <div
          id="collapse4"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong> </strong>

            نعم يمكن تطوير المنصة من فردية لاى جماعية وتكون لمجموعة مدرسين لها
            مزايا المنصة الجماعة من حيث المساقات و التقارير وطريقة العرض.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse5"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            هل يمكن للمدرس ان يتابع طلابه ومساقاته ويعدل عليها ؟
          </button>
        </h2>
        <div
          id="collapse5"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong> </strong>

            نعم بمكن للمعلم ان يستخدم حسابه كمعلم للتواصل مع الطلاب او للتعديل
            على مساقاته بحيث يضيف الفيديوهات و الملفات الخاصة بالمساق ومكنه ايضا
            انشاء الامتحانات و الاختبارات القصيرة.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse6"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            هل تتحمل المنصة عدد طلاب كبير في لحظة معينة مثل فترة الامتحانات ؟
          </button>
        </h2>
        <div
          id="collapse6"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong> </strong>

            نعم يمكن للمنصة احتمال عدد لا محدود من الطلاب بشكل متزامن دون انقطاع
            الخدمة او هبوط المنصة.
          </div>
        </div>
      </div>
    </div>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</body>
