<div class="demo">
    <div class="container">
      <div class="row text-center">
        <h3 class="text-center header">
            {{ "about.Team" | translate }}
        </h3>
        <p class="font-italic text-muted">
            {{ "about.TeamBody" | translate }}        </p>
        <!--           
        <h1 class="white">our team style : demo 67</h1> -->
      </div>
      <div class="row" style="justify-content: center">
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <div class="pic">
              <img src="../team/../../../../assets/img/teamMhamude.PNG" />
              <ul class="social">
                <li>
                  <a
                    href="https://web.facebook.com/mahmod.abulawi.7/"
                    class="fab fa-facebook"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/abulawimahmod/?hl=en"
                    class="fab fa-instagram"
                  ></a>
                </li>
  
                <li>
                  <a
                    href="https://www.linkedin.com/in/mahmoud-abulawi-4105b41b0/"
                    class="fab fa-linkedin"
                  ></a>
                </li>
              </ul>
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3 class="title p-2">Mahmoud Abulawi</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <div class="pic">
              <img src="../new-team/../../../../assets/img/AhmadAbuIssa.jpg" />
              <ul class="social">
                <li>
                  <a
                    href="https://www.facebook.com/ahmad2abuissa"
                    class="fab fa-facebook"
                  ></a>
                </li>
                <!-- <li>
                  <a
                    href="https://www.instagram.com/qies_abulawi?igsh=bzNyNjdnZnk3aHM2&utm_source=qr"
                    class="fa fa-instagram"
                  ></a>
                </li> -->
              </ul>
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3 class="title">Ahmad Abu Issa 
</h3>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <div class="pic">
              <img             src="../team/../../../../assets/img/teamIbrhim.jpeg"
              />
              <ul class="social">
                <li>
                  <a
                  href="https://www.facebook.com/barhoom.nasereddin/"
                    class="fab fa-facebook"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/abulawimahmod/?hl=en"
                    class="fab fa-instagram"
                  ></a>
                </li>
  
                <li>
                  <a
                  href="https://www.linkedin.com/in/ibrahim-nasser-al-ddin-36407b206/"
                    class="fab fa-linkedin"
                  ></a>
                </li>
              </ul>
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3 class="title p-2">Ibrahim Nasereddin</h3>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <div class="pic">
              <img src="../new-team/../../../../assets/img/teamAli.jpg" />
              <ul class="social">
                <li>
                  <a
                    href="https://www.facebook.com/profile.php?id=100042198518502"
                    class="fab fa-facebook"
                  ></a>
                </li>
                <li>
                  <a
                    href="https://instagram.com/4i.al?igshid=YmMyMTA2M2Y=n"
                    class="fab fa-instagram"
                  ></a>
                </li>
              </ul>
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3 class="title">Ali Al-Samir</h3>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <div class="pic">
              <img  src="../team/../../../../assets/img/feed-05.png" />
              <ul class="social">
                <li>
                  <a
                  href="https://www.facebook.com/profile.php?id=100082136371871"
                    class="fab fa-facebook"
                  ></a>
                </li>
                <!-- <li>
                  <a
                    href="https://www.instagram.com/hamza_alhaj_/?hl=en"
                    class="fa fa-instagram"
                  ></a>
                </li> -->
              </ul>
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3 class="title">Leokadia Radwan</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  