<!-- Header -->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"> {{ "lms.question" | translate }}</h1>
  </div>
</section>

<!-- Timeline -->
<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline">
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox">
                  <img src="../../../../assets/img/download.jpg" class="img" />
                </span>
              </div>
              <div class="content">
                <span class="year">{{ "lms.services-one" | translate }}</span>
                <h3 class="title h4"></h3>
                <p
                  class="description"
                
                >
                {{ "lms.s1" | translate }}
                 </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox"
                  ><img
                    src="../../../../assets/img/2020_7$largeimg_1348688257.jpg"
                    class="img"
                /></span>
              </div>
              <div class="content">
                <span class="year">   {{ "lms.services-two" | translate }}</span>
                <h3 class="title h4"></h3>
                <p
                  class="description"
                  
                >
                {{ "lms.s2" | translate }}   </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox"
                  ><img src="../../../../assets/img/ooPicture1.jpg" class="img"
                /></span>
              </div>
              <div class="content">
                <span class="year">        {{ "lms.services-three" | translate }} </span>
                <h3 class="title h4"></h3>
                <p
                  class="description"
                 
                >
                {{ "lms.s3" | translate }}   </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
          <!-- <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox"
                  ><img src="https://i.imgur.com/HcJ2oCI.png" class="img"
                /></span>
              </div>
              <div class="content">
                <span class="year">No.4</span>
                <h3 class="title h4">Heading</h3>
                <p class="description">
                  Sed blandit libero volutpat sed cras. Adipiscing elit
                  pellentesque habitant morbi tristique senectus et netus et.
                  Aliquam ultrices sagittis orci a. Ipsum nunc aliquet bibendum
                  enim facilisis. Magna ac placerat vestibulum lectus mauris
                  ultrices eros. Proin sagittis nisl rhoncus mattis rhoncus.
                  Velit aliquet sagittis id consectetur purus ut faucibus
                  pulvinar elementum. Et ultrices neque ornare aenean euismod
                  elementum nisi. Ultricies mi quis hendrerit dolor magna eget
                  est lorem.
                </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
