<!-- Header -->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">كيف يمكننا المساعدة؟</h1>
  </div>
</section>

<!-- Timeline -->
<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline">
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox">
                  <img src="../../../../assets/img/download.jpg" class="img" />
                </span>
              </div>
              <div class="content">
                <span class="year">No.1</span>
                <h3 class="title h4">اذا كنت صاحب منصة حالية</h3>
                <p
                  class="description"
                  style="text-align: right; direction: rtl"
                >
                  وتواجه مشاكل تقنية في المنصة
                  <br />
                  تبحث عن اضافة ميزات جديدة وتطوير المنصة .
                  <br />

                  تكلفة تشغيل المنصة مرتفعة.
                  <br />

                  لا يوجد نظام حماية للمحتوى من السرقة.
                  <br />

                  يمكننا مساعدتك من خلال منصة فقط تواصل معنا لنكون بخدمتك -
                </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox"
                  ><img
                    src="../../../../assets/img/2020_7$largeimg_1348688257.jpg"
                    class="img"
                /></span>
              </div>
              <div class="content">
                <span class="year">No.2</span>
                <h3 class="title h4">معلم او مدرب وتبحث عن البدء في منصتك</h3>
                <p
                  class="description"
                  style="text-align: right; direction: rtl"
                >
                  نقدم جميع الخدمات التي يحتاجها صانع المحتوى التعليمي او
                  التدريبي لانشاء و بيع الدورات عبر الانترنت تشمل هذه الخدمات:
                  <br />
                  التصميم للموقع والهويه البصرية
                  <br />
                  تصوير ومونتاج المحتوى التعليمي
                  <br />
                  المساعدة على رفع المحتوى التعليمي وادارة المنصة في المرحلة
                  الاولى
                  <br />
                  تجهيز خدمات البيع الالكتروني او المباشر من خلال المنصة
                </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox"
                  ><img src="../../../../assets/img/ooPicture1.jpg" class="img"
                /></span>
              </div>
              <div class="content">
                <span class="year">No.3</span>
                <h3 class="title h4">مدرسة او مؤسسة تعليمية او تدريبية</h3>
                <p
                  class="description"
                  style="text-align: right; direction: rtl"
                >
                  تبحث عن نظام لادارة العملية التعليمية في مؤسستك
                  <br />
                  تبحث عن نظام لادارة تسجيلات الطلاب واشتراكاتهم ودفعاتهم
                  وتنظيمها ومتابعتها
                  <br />
                  تبحث عن منصة لادارة المحتوى التعليمي
                  <br />
                  تريد تصميم موقع عصري و هوية بصرية للمؤسسة
                </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
          <!-- <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox"
                  ><img src="https://i.imgur.com/HcJ2oCI.png" class="img"
                /></span>
              </div>
              <div class="content">
                <span class="year">No.4</span>
                <h3 class="title h4">Heading</h3>
                <p class="description">
                  Sed blandit libero volutpat sed cras. Adipiscing elit
                  pellentesque habitant morbi tristique senectus et netus et.
                  Aliquam ultrices sagittis orci a. Ipsum nunc aliquet bibendum
                  enim facilisis. Magna ac placerat vestibulum lectus mauris
                  ultrices eros. Proin sagittis nisl rhoncus mattis rhoncus.
                  Velit aliquet sagittis id consectetur purus ut faucibus
                  pulvinar elementum. Et ultrices neque ornare aenean euismod
                  elementum nisi. Ultricies mi quis hendrerit dolor magna eget
                  est lorem.
                </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
