<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold textprimaryTheam text-uppercase">{{ "app-navbar.ourServices" | translate }}</h5>

      <p class="mb-0">
        {{ "security-section.t1" | translate }}
        
      </p>
    </div>
    <div class="row g-5">
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <!-- <i class="fa fa-search text-white"></i> -->
            <i
              class="fa fa-shield custom-icon-color fa-2x"
              aria-hidden="true"
            ></i>
          </div>
          <h4 class="mb-3">
            {{ "security-section.st1" | translate }}
           
          </h4>
          <p class="m-0">
            {{ "security-section.sb1" | translate }}
            
          </p>

          <a
            class="btn btn-lg btn-primary rounded w-50 ms-0"
            (click)="openModal('one')"
          >{{ "security-section.Readmore" | translate }}
            <!-- <i class="bi bi-arrow-right"></i> -->
            
          </a>
        </div>
      </div>
      <div
        class="modal fade container mt-5"
        id="one"
        tabindex="-1"
        aria-labelledby="vulnerabilityModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="vulnerabilityModalLabel">
                {{ "security-section.sbt1" | translate }} 
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>{{ "security-section.sbtt1" | translate }}
            
              </p>
              <h6>{{ "security-section.sbttk1" | translate }}</h6>
              <ul>
                <li>
                  {{ "security-section.sbttk1_1" | translate }}
             
                </li>
                <li>{{ "security-section.sbttk1_2" | translate }}
                
                </li>
                <li>{{ "security-section.sbttk1_3" | translate }}
           
                </li>
                <li>{{ "security-section.sbttk1_4" | translate }}
                 
                </li>
                <li>{{ "security-section.sbttk1_5" | translate }}
                
                </li>
                <li>{{ "security-section.sbttk1_6" | translate }}
              
                </li>
              </ul>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <!-- <i class="fa fa-search text-white"></i> -->
            <i
              class="fa fa-shield custom-icon-color fa-2x"
              aria-hidden="true"
            ></i>
          </div>
          <h4 class="mb-3">{{ "security-section.st2" | translate }}</h4>
          <p class="m-0">
            {{ "security-section.sb2" | translate }}  
          </p>
          <a class="btn btn-lg btn-primary rounded" (click)="openModal('two')">
            <!-- <i class="bi bi-arrow-right"></i> -->
            {{ "security-section.Readmore" | translate }}    
          </a>
        </div>
      </div>

      <!-- First Modal -->
      <div
        class="modal fade container mt-5"
        id="two"
        tabindex="-1"
        aria-labelledby="vulnerabilityModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="vulnerabilityModalLabel">
                {{ "security-section.sbt2" | translate }}
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p> {{ "security-section.sbtt2" | translate }}
                
              </p>
              <h6>{{ "security-section.sbttk1" | translate }}</h6>
              <ul>
                <li>{{ "security-section.bttk2_1" | translate }}
             
                </li>
                <li>{{ "security-section.bttk2_2" | translate }}
           
                </li>
              </ul>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <!-- <i class="fa fa-search text-white"></i> -->
            <i
              class="fa fa-shield custom-icon-color fa-2x"
              aria-hidden="true"
            ></i>
          </div>
          <h4 class="mb-3">
            {{ "security-section.st3" | translate }}
      
          </h4>
          <p class="m-0">  {{ "security-section.sb3" | translate }}
          
          </p>
          <a
            class="btn btn-lg btn-primary rounded"
            (click)="openModal('three')"
          >
            <!-- <i class="bi bi-arrow-right"></i> -->
            {{ "security-section.Readmore" | translate }}  
          </a>
        </div>
      </div>
      <div
        class="modal fade container mt-5"
        id="three"
        tabindex="-1"
        aria-labelledby="vulnerabilityModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="vulnerabilityModalLabel">
                {{ "security-section.sbt3" | translate }}
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>{{ "security-section.sbtt3" | translate }} 
             
           
              </p>
              <h6>{{ "security-section.sbttk1" | translate }} </h6>
              <ul>
                <li>{{ "security-section.sbttk3_1" | translate }}
                
                </li>
                <li>{{ "security-section.sbttk3_2" | translate }}
    
                </li>
                <li>{{ "security-section.sbttk3_3" | translate }}
               
                </li>
                <li>{{ "security-section.sbttk3_4" | translate }}
              
                </li>
                <li>{{ "security-section.sbttk3_5" | translate }}
          
                </li>
                <li>{{ "security-section.sbttk3_6" | translate }}
             
                </li>
                <li>{{ "security-section.sbttk3_7" | translate }}
       
                 
                </li>
                <li>{{ "security-section.sbttk3_8" | translate }}
             
                </li>
                <!-- <li>•	Compliance Support: Network PT helps organizations meet regulatory compliance requirements by identifying vulnerabilities that may impact compliance with industry standards and regulations, such as PCI DSS, HIPAA, GDPR, and others.</li> -->
              </ul>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <!-- <i class="fa fa-search text-white"></i> -->
            <i
              class="fa fa-shield custom-icon-color fa-2x"
              aria-hidden="true"
            ></i>
          </div>
          <h4 class="mb-3">{{ "security-section.st4" | translate }}</h4>
          <p class="m-0">{{ "security-section.sb4" | translate }}</p>
          <a class="btn btn-lg btn-primary rounded" (click)="openModal('four')">
            <!-- <i class="bi bi-arrow-right"></i> -->
            {{ "security-section.Readmore" | translate }} 
          </a>
        </div>
      </div>
      <div
        class="modal fade container mt-5"
        id="four"
        tabindex="-1"
        aria-labelledby="vulnerabilityModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="vulnerabilityModalLabel">
                {{ "security-section.sbt4" | translate }}  
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>    {{ "security-section.sbtt4" | translate }}
            
              </p>
              <h6>  {{ "security-section.sbttk1" | translate }}</h6>
              <ul>
                <li>{{ "security-section.sbttk4_1" | translate }}
                 
                </li>
                <li>{{ "security-section.sbttk4_2" | translate }}
                
                </li>
                <li>{{ "security-section.sbttk4_3" | translate }}
                
                </li>
                <li>{{ "security-section.sbttk4_4" | translate }}
             
                </li>
                <li>{{ "security-section.sbttk4_5" | translate }}
               
                </li>
                <li>{{ "security-section.sbttk4_6" | translate }}
            
                </li>
              </ul>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <!-- <i class="fa fa-search text-white"></i> -->
            <i
              class="fa fa-shield custom-icon-color fa-2x"
              aria-hidden="true"
            ></i>
          </div>
          <h4 class="mb-3">{{ "security-section.st5" | translate }}   </h4>
          <p class="m-0">{{ "security-section.sb5" | translate }}</p>
          <a class="btn btn-lg btn-primary rounded" (click)="openModal('five')">
            <!-- <i class="bi bi-arrow-right"></i> -->
            {{ "security-section.Readmore" | translate }} 
          </a>
        </div>
      </div>
      <div
        class="modal fade container mt-5"
        id="five"
        tabindex="-1"
        aria-labelledby="vulnerabilityModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="vulnerabilityModalLabel">
                {{ "security-section.sbt5" | translate }} 
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p> {{ "security-section.sbtt5" | translate }}
               
              </p>
              <h6>{{ "security-section.sbttk1" | translate }}</h6>
              <ul>
                <li>{{ "security-section.sbttk5_1" | translate }}
                 
                </li>
                <li>{{ "security-section.sbttk5_2" | translate }}
                
                </li>
                <li>{{ "security-section.sbttk5_3" | translate }}
                
                </li>
                <li>{{ "security-section.sbttk5_4" | translate }}
                          </li>
                <li>{{ "security-section.sbttk5_5" | translate }}
                
                </li>
                <li>{{ "security-section.sbttk5_6" | translate }}
                
                </li>
                <li>{{ "security-section.sbttk5_7" | translate }}
               
                </li>
              </ul>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <!-- <i class="fa fa-search text-white"></i> -->
            <i
              class="fa fa-shield custom-icon-color fa-2x"
              aria-hidden="true"
            ></i>
          </div>
          <h4 class="mb-3">{{ "security-section.st6" | translate }}</h4>
          <p class="m-0">{{ "security-section.sb6" | translate }}</p>
          <a class="btn btn-lg btn-primary rounded" (click)="openModal('SEX')">
            <!-- <i class="bi bi-arrow-right"></i> -->
            {{ "security-section.Readmore" | translate }}
          </a>
        </div>
      </div>
      <div
        class="modal fade container mt-5"
        id="SEX"
        tabindex="-1"
        aria-labelledby="vulnerabilityModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="vulnerabilityModalLabel">
                {{ "security-section.sbt6" | translate }}  
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p> {{ "security-section.sbtt6" | translate }}
            
              </p>
              <h6> {{ "security-section.sbttk1" | translate }}</h6>
              <ul>
                <li>{{ "security-section.sbttk6_1" | translate }}
                 </li>
                <li>{{ "security-section.sbttk6_2" | translate }}
               
                </li>
                <li>{{ "security-section.sbttk6_3" | translate }}
                </li>
                <li>{{ "security-section.sbttk6_4" | translate }}
                  </li>
                <li>{{ "security-section.sbttk6_5" | translate }}
                            </li>
              </ul>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <!-- <i class="fa fa-search text-white"></i> -->
            <i
              class="fa fa-shield custom-icon-color fa-2x"
              aria-hidden="true"
            ></i>
          </div>
          <h4 class="mb-3">{{ "security-section.st7" | translate }} </h4>
          <p class="m-0">{{ "security-section.sb7" | translate }}</p>
          <a class="btn btn-lg btn-primary rounded" (click)="openModal('7')">
            <!-- <i class="bi bi-arrow-right"></i> -->
            {{ "security-section.Readmore" | translate }} 
          </a>
        </div>
      </div>
      <div
        class="modal fade container mt-5"
        id="7"
        tabindex="-1"
        aria-labelledby="vulnerabilityModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="vulnerabilityModalLabel">
                {{ "security-section.sbt7" | translate }}    
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>  {{ "security-section.sbtt7" | translate }} 
              </p>
              <!-- <h6>Key Features:</h6>
                <ul>
                  <li>Comprehensive Scanning: Our advanced scanning tools meticulously comb through your network, applications, and systems to detect vulnerabilities across all layers of your infrastructure.</li>
                  <li>Regular Assessments: We provide scheduled scans to ensure continuous monitoring of your environment, allowing for timely identification and remediation of new vulnerabilities that may arise.</li>
                  <li>Customized Solutions: Tailored to your specific business needs, our vulnerability scanning service offers flexible scanning options, including authenticated and unauthenticated scans, to provide a comprehensive view of your security posture.</li>
                  <li>Risk Prioritization: Our scanning reports prioritize vulnerabilities based on severity levels, enabling you to focus resources on addressing high-risk issues that pose the greatest threat to your organization.</li>
                  <li>Actionable Insights: In addition to identifying vulnerabilities, our reports offer actionable insights and recommendations for remediation, empowering your IT team to take proactive measures to strengthen your security defenses.</li>
                  <li>Compliance Support: Our vulnerability scanning service helps you meet regulatory requirements and industry standards by identifying vulnerabilities that may impact compliance, such as PCI DSS, HIPAA, GDPR, and more.</li>
                </ul> -->
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <!-- <i class="fa fa-search text-white"></i> -->
            <i
              class="fa fa-shield custom-icon-color fa-2x"
              aria-hidden="true"
            ></i>
          </div>
          <h4 class="mb-3"> {{ "security-section.st8" | translate }}  </h4>
          <p class="m-0">{{ "security-section.sb8" | translate }}
          
          </p>
          <a class="btn btn-lg btn-primary rounded" (click)="openModal('8')">
            <!-- <i class="bi bi-arrow-right"></i> -->
             {{ "security-section.Readmore" | translate }}
          </a>
        </div>
      </div>
      <div
        class="modal fade container mt-5"
        id="8"
        tabindex="-1"
        aria-labelledby="vulnerabilityModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="vulnerabilityModalLabel">
                 {{ "security-section.sbtt8" | translate }}
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>{{ "security-section.sbttt8" | translate }}
              
              </p>
              <!-- <h6>Key Features:</h6>
                <ul>
                  <li>Comprehensive Scanning: Our advanced scanning tools meticulously comb through your network, applications, and systems to detect vulnerabilities across all layers of your infrastructure.</li>
                  <li>Regular Assessments: We provide scheduled scans to ensure continuous monitoring of your environment, allowing for timely identification and remediation of new vulnerabilities that may arise.</li>
                  <li>Customized Solutions: Tailored to your specific business needs, our vulnerability scanning service offers flexible scanning options, including authenticated and unauthenticated scans, to provide a comprehensive view of your security posture.</li>
                  <li>Risk Prioritization: Our scanning reports prioritize vulnerabilities based on severity levels, enabling you to focus resources on addressing high-risk issues that pose the greatest threat to your organization.</li>
                  <li>Actionable Insights: In addition to identifying vulnerabilities, our reports offer actionable insights and recommendations for remediation, empowering your IT team to take proactive measures to strengthen your security defenses.</li>
                  <li>Compliance Support: Our vulnerability scanning service helps you meet regulatory requirements and industry standards by identifying vulnerabilities that may impact compliance, such as PCI DSS, HIPAA, GDPR, and more.</li>
                </ul> -->
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div> -->
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
        <div
          class="position-relative primarycolorTheam rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5"
        >
          <a href="tel:+962782028246" class="no-underline">
            <h3 class="text-white mb-3">{{ "security-section.help" | translate }} </h3>
            <p class="text-white mb-3">
              {{ "security-section.helpt" | translate }}
            
            </p>
            <h4 class="text-white mb-0"> {{ "security-section.number" | translate }}</h4>
          </a>
        </div>
      </div>
    </div>

    <div
      class="section-title text-center position-relative pb-3 mb-5 mx-auto mt-5"
      style="max-width: 600px"
    >
      <h5 class="fw-bold textprimaryTheam text-uppercase">{{ "security-section.Conclusion" | translate }}</h5>

      <p class="mb-0">{{ "security-section.Conclusionb" | translate }}
        
      </p>
    </div>
  </div>

  <!-- First Service and Modal -->
  <!-- <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
      <div class="service-icon">
        <i class="fa fa-search text-white"></i>
      </div>
      <h4 class="mb-3">Internal and External Network Penetration Testing</h4>
      <p class="m-0">
        Your business is your logo, your logo is your business, and with
        Devnas you will get your perfect, unique, and creative logo.
      </p>
      <button class="btn btn-lg btn-primary rounded" (click)="openModal('one')">
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div> -->

  <!-- First Modal -->
  <!-- <div class="modal fade modal-lg container mt-5" id="one" tabindex="-1" aria-labelledby="vulnerabilityModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="vulnerabilityModalLabel">Vulnerability Scanning Service</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>In today's rapidly evolving threat landscape, staying ahead of potential vulnerabilities is crucial to maintaining the security and integrity of your digital assets. Our vulnerability scanning service offers proactive measures to identify and mitigate security weaknesses before they can be exploited by malicious actors.</p>
          <h6>Key Features:</h6>
          <ul>
            <li>Comprehensive Scanning: Our advanced scanning tools meticulously comb through your network, applications, and systems to detect vulnerabilities across all layers of your infrastructure.</li>
            <li>Regular Assessments: We provide scheduled scans to ensure continuous monitoring of your environment, allowing for timely identification and remediation of new vulnerabilities that may arise.</li>
            <li>Customized Solutions: Tailored to your specific business needs, our vulnerability scanning service offers flexible scanning options, including authenticated and unauthenticated scans, to provide a comprehensive view of your security posture.</li>
            <li>Risk Prioritization: Our scanning reports prioritize vulnerabilities based on severity levels, enabling you to focus resources on addressing high-risk issues that pose the greatest threat to your organization.</li>
            <li>Actionable Insights: In addition to identifying vulnerabilities, our reports offer actionable insights and recommendations for remediation, empowering your IT team to take proactive measures to strengthen your security defenses.</li>
            <li>Compliance Support: Our vulnerability scanning service helps you meet regulatory requirements and industry standards by identifying vulnerabilities that may impact compliance, such as PCI DSS, HIPAA, GDPR, and more.</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Second Service and Modal -->
  <!-- <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
      <div class="service-icon">
        <i class="fa fa-search text-white"></i>
      </div>
      <h4 class="mb-3">Internal and External Network Penetration Testing</h4>
      <p class="m-0">
        Your business is your logo, your logo is your business, and with
        Devnas you will get your perfect, unique, and creative logo.
      </p>
      <button class="btn btn-lg btn-primary rounded" (click)="openModal('1')">
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div> -->

  <!-- Second Modal -->
  <!-- <div class="modal fade modal-lg container mt-5" id="1" tabindex="-1" aria-labelledby="vulnerabilityModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="vulnerabilityModalLabel">Vulnerability Scanning Service</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>In today's rapidly evolving threat landscape, staying ahead of potential vulnerabilities is crucial to maintaining the security and integrity of your digital assets. Our vulnerability scanning service offers proactive measures to identify and mitigate security weaknesses before they can be exploited by malicious actors.</p>
          <h6>Key Features:</h6>
          <ul>
            <li>Compliance Support: Our vulnerability scanning service helps you meet regulatory requirements and industry standards by identifying vulnerabilities that may impact compliance, such as PCI DSS, HIPAA, GDPR, and more.</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  </div> -->
</div>
