<!-- Blog Start -->
<!-- <div class="container-fluid blog py-5">
  <div class="container py-5">
    <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="sub-style">
        <h4 class="sub-title px-3 mb-0">Our Blog</h4>
      </div>
      <h1 class="display-3 mb-4">
        Excellent Facility and High Quality Therapy
      </h1>
      <p class="mb-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
        deleniti amet at atque sequi quibusdam cumque itaque repudiandae
        temporibus, eius nam mollitia voluptas maxime veniam necessitatibus
        saepe in ab? Repellat!
      </p>
    </div>
    <div class="row g-4 justify-content-center">
      <div
        class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="blog-item rounded">
          <div class="blog-img">
            <img
              src="../../../../assets/img/blog-1.jpg"
              class="img-fluid w-100"
              alt="Image"
            />
          </div>
          <div class="blog-centent p-4">
            <div class="d-flex justify-content-between mb-4">
              <p class="mb-0 text-muted">
                <i class="fa fa-calendar-alt textprimaryTheam"></i> 01 Jan 2045
              </p>
              <a href="#" class="text-muted"
                ><span class="fa fa-comments textprimaryTheam"></span> 3 Comments</a
              >
            </div>
            <a href="#" class="h4"
              >Remove back Pain While Working on o physio</a
            >
            <p class="my-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Laudantium hic consequatur beatae architecto,
            </p>
            <a
              href="#"
              class="btn btn-primary rounded-pill text-white py-2 px-4 mb-1"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="blog-item rounded">
          <div class="blog-img">
            <img
              src="../../../../assets/img/blog-2.jpg"
              class="img-fluid w-100"
              alt="Image"
            />
          </div>
          <div class="blog-centent p-4">
            <div class="d-flex justify-content-between mb-4">
              <p class="mb-0 text-muted">
                <i class="fa fa-calendar-alt textprimaryTheam"></i> 01 Jan 2045
              </p>
              <a href="#" class="text-muted"
                ><span class="fa fa-comments textprimaryTheam"></span> 3 Comments</a
              >
            </div>
            <a href="#" class="h4"
              >Benefits of a weekly physiotherapy session</a
            >
            <p class="my-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Laudantium hic consequatur beatae architecto,
            </p>
            <a
              href="#"
              class="btn btn-primary rounded-pill text-white py-2 px-4 mb-1"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="blog-item rounded">
          <div class="blog-img">
            <img
              src="../../../../assets/img/blog-3.jpg"
              class="img-fluid w-100"
              alt="Image"
            />
          </div>
          <div class="blog-centent p-4">
            <div class="d-flex justify-content-between mb-4">
              <p class="mb-0 text-muted">
                <i class="fa fa-calendar-alt textprimaryTheam"></i> 01 Jan 2045
              </p>
              <a href="#" class="text-muted"
                ><span class="fa fa-comments textprimaryTheam"></span> 3 Comments</a
              >
            </div>
            <a href="#" class="h4">Regular excercise can slow ageing process</a>
            <p class="my-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Laudantium hic consequatur beatae architecto,
            </p>
            <a
              href="#"
              class="btn btn-primary rounded-pill text-white py-2 px-4 mb-1"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Blog End -->

<!-- Blog Start -->
<!-- <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold textprimaryTheam text-uppercase">Our Client</h5> -->
<!-- <h5 class="fw-bold textprimaryTheam text-uppercase">Latest Blog</h5> -->
<!-- <h1 class="mb-0">Read The Latest Articles from Our Blog Post</h1>
      <p data-i18n="OurvaluableClient">
        We have implemented several projects with wonderful clients who shared
        with experiences and aspirations to come up with a product that achieved
        the desired goal, and we are still communicating with them through
        after-sales support.
      </p>
    </div>
    <div class="row g-5">
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="../../../../assets/img/IPARK.png"
              alt="" -->
/>
<!-- <a
              class="position-absolute top-0 start-0 primarycolorTheam text-white rounded-end mt-5 py-2 px-4"
              href=""
              >OUR PROJECT</a
            > -->
<!-- </div>
          <div class="p-4">
            <div class="d-flex mb-3">
              <small class="me-3"
                ><i class="far fa-user textprimaryTheam me-2"></i>John Doe</small
              >
              <small
                ><i class="far fa-calendar-alt textprimaryTheam me-2"></i>01 Jan,
                2045</small
              >
            </div>
            <h4 class="mb-3">How to build a website</h4>
            <p>
              Dolor et eos labore stet justo sed est sed sed sed dolor stet amet
            </p>
            <a class="text-uppercase" src="../../../../assets/img/BLOX.png"
              >Visit<i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="../../../../assets/img/JITOA.png"
              alt=""
            /> -->
<!-- <a
              class="position-absolute top-0 start-0 primarycolorTheam text-white rounded-end mt-5 py-2 px-4"
              href=""
              >Web Design</a
            > -->
<!-- </div>
          <div class="p-4">
            <div class="d-flex mb-3">
              <small class="me-3"
                ><i class="far fa-user textprimaryTheam me-2"></i>John Doe</small
              >
              <small
                ><i class="far fa-calendar-alt textprimaryTheam me-2"></i>01 Jan,
                2045</small
              >
            </div>
            <h4 class="mb-3">How to build a website</h4>
            <p>
              Dolor et eos labore stet justo sed est sed sed sed dolor stet amet
            </p>
            <a class="text-uppercase" href=""
              >Read More <i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="../../../../assets/img/logoSJ.png"
              alt=""
            /> -->
<!-- <a
              class="position-absolute top-0 start-0 primarycolorTheam text-white rounded-end mt-5 py-2 px-4"
              href=""
              >Web Design</a
            > -->
<!-- </div>
          <div class="p-4">
            <div class="d-flex mb-3">
              <small class="me-3"
                ><i class="far fa-user textprimaryTheam me-2"></i>John Doe</small
              >
              <small
                ><i class="far fa-calendar-alt textprimaryTheam me-2"></i>01 Jan,
                2045</small
              >
            </div>
            <h4 class="mb-3">How to build a website</h4>
            <p>
              Dolor et eos labore stet justo sed est sed sed sed dolor stet amet
            </p>
            <a class="text-uppercase" href=""
              >Read More <i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="../../../../assets/img/Jsslogo.png"
              alt=""
            /> -->
<!-- <a
              class="position-absolute top-0 start-0 primarycolorTheam text-white rounded-end mt-5 py-2 px-4"
              href=""
              >OUR PROJECT</a
            > -->
<!-- </div>
          <div class="p-4">
            <div class="d-flex mb-3">
              <small class="me-3"
                ><i class="far fa-user textprimaryTheam me-2"></i>John Doe</small
              >
              <small
                ><i class="far fa-calendar-alt textprimaryTheam me-2"></i>01 Jan,
                2045</small
              >
            </div>
            <h4 class="mb-3">How to build a website</h4>
            <p>
              Dolor et eos labore stet justo sed est sed sed sed dolor stet amet
            </p>
            <a class="text-uppercase" src="../../../../assets/img/BLOX.png"
              >Visit<i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Blog Start -->
<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold textprimaryTheam text-uppercase">Our Client</h5>
      <!-- <h5 class="fw-bold textprimaryTheam text-uppercase">Latest Blog</h5> -->
      <h1 class="mb-0">Read The Latest Articles from Our Blog Post</h1>
      <p data-i18n="OurvaluableClient">
        We have implemented several projects with wonderful clients who shared
        with experiences and aspirations to come up with a product that achieved
        the desired goal, and we are still communicating with them through
        after-sales support.
      </p>
    </div>
    <div class="row g-5">
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="../../../../assets/img/IPARK.png"
              alt=""
            />
            <!-- <a
              class="position-absolute top-0 start-0 primarycolorTheam text-white rounded-end mt-5 py-2 px-4"
              href=""
              >OUR PROJECT</a
            > -->
          </div>
          <div class="p-4">
            <div class="d-flex mb-3">
              <small class="me-3"
                ><i class="far fa-user textprimaryTheam me-2"></i>John
                Doe</small
              >
              <small
                ><i class="far fa-calendar-alt textprimaryTheam me-2"></i>01
                Jan, 2045</small
              >
            </div>
            <h4 class="mb-3">How to build a website</h4>
            <p>
              Dolor et eos labore stet justo sed est sed sed sed dolor stet amet
            </p>
            <a class="text-uppercase" src="../../../../assets/img/BLOX.png"
              >Visit<i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="../../../../assets/img/JITOA.png"
              alt=""
            />
            <!-- <a
              class="position-absolute top-0 start-0 primarycolorTheam text-white rounded-end mt-5 py-2 px-4"
              href=""
              >Web Design</a
            > -->
          </div>
          <div class="p-4">
            <div class="d-flex mb-3">
              <small class="me-3"
                ><i class="far fa-user textprimaryTheam me-2"></i>John
                Doe</small
              >
              <small
                ><i class="far fa-calendar-alt textprimaryTheam me-2"></i>01
                Jan, 2045</small
              >
            </div>
            <h4 class="mb-3">How to build a website</h4>
            <p>
              Dolor et eos labore stet justo sed est sed sed sed dolor stet amet
            </p>
            <a class="text-uppercase" href=""
              >Read More <i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="../../../../assets/img/logoSJ.png"
              alt=""
            />
            <!-- <a
              class="position-absolute top-0 start-0 primarycolorTheam text-white rounded-end mt-5 py-2 px-4"
              href=""
              >Web Design</a
            > -->
          </div>
          <div class="p-4">
            <div class="d-flex mb-3">
              <small class="me-3"
                ><i class="far fa-user textprimaryTheam me-2"></i>John
                Doe</small
              >
              <small
                ><i class="far fa-calendar-alt textprimaryTheam me-2"></i>01
                Jan, 2045</small
              >
            </div>
            <h4 class="mb-3">How to build a website</h4>
            <p>
              Dolor et eos labore stet justo sed est sed sed sed dolor stet amet
            </p>
            <a class="text-uppercase" href=""
              >Read More <i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="../../../../assets/img/Jsslogo.png"
              alt=""
            />
            <!-- <a
              class="position-absolute top-0 start-0 primarycolorTheam text-white rounded-end mt-5 py-2 px-4"
              href=""
              >OUR PROJECT</a
            > -->
          </div>
          <div class="p-4">
            <div class="d-flex mb-3">
              <small class="me-3"
                ><i class="far fa-user textprimaryTheam me-2"></i>John
                Doe</small
              >
              <small
                ><i class="far fa-calendar-alt textprimaryTheam me-2"></i>01
                Jan, 2045</small
              >
            </div>
            <h4 class="mb-3">How to build a website</h4>
            <p>
              Dolor et eos labore stet justo sed est sed sed sed dolor stet amet
            </p>
            <a class="text-uppercase" src="../../../../assets/img/BLOX.png"
              >Visit<i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog Start -->
