<!-- Pricing Plan Start -->
<!-- <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold text-primary text-uppercase">Pricing Plans</h5>
      <h1 class="mb-0">We are Offering Competitive Prices for Our Clients</h1>
    </div>
    <div class="row g-0">
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
        <div class="bg-light rounded">
          <div class="border-bottom py-4 px-5 mb-4">
            <h4 class="text-primary mb-1">Basic Plan</h4>
            <small class="text-uppercase">For Small Size Business</small>
          </div>
          <div class="p-5 pt-0">
            <h1 class="display-5 mb-3">
              <small
                class="align-top"
                style="font-size: 22px; line-height: 45px"
                >$</small
              >49.00<small
                class="align-bottom"
                style="font-size: 16px; line-height: 40px"
                >/ Month</small
              >
            </h1>
            <div class="d-flex justify-content-between mb-3">
              <span>HTML5 & CSS3</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>Bootstrap v5</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>Responsive Layout</span
              ><i class="fa fa-times text-danger pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <span>Cross-browser Support</span
              ><i class="fa fa-times text-danger pt-1"></i>
            </div>
            <a href="" class="btn btn-primary py-2 px-4 mt-4">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div
          class="bg-white rounded shadow position-relative"
          style="z-index: 1"
        >
          <div class="border-bottom py-4 px-5 mb-4">
            <h4 class="text-primary mb-1">Standard Plan</h4>
            <small class="text-uppercase">For Medium Size Business</small>
          </div>
          <div class="p-5 pt-0">
            <h1 class="display-5 mb-3">
              <small
                class="align-top"
                style="font-size: 22px; line-height: 45px"
                >$</small
              >99.00<small
                class="align-bottom"
                style="font-size: 16px; line-height: 40px"
                >/ Month</small
              >
            </h1>
            <div class="d-flex justify-content-between mb-3">
              <span>HTML5 & CSS3</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>Bootstrap v5</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>Responsive Layout</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <span>Cross-browser Support</span
              ><i class="fa fa-times text-danger pt-1"></i>
            </div>
            <a href="" class="btn btn-primary py-2 px-4 mt-4">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
        <div class="bg-light rounded">
          <div class="border-bottom py-4 px-5 mb-4">
            <h4 class="text-primary mb-1">Advanced Plan</h4>
            <small class="text-uppercase">For Large Size Business</small>
          </div>
          <div class="p-5 pt-0">
            <h1 class="display-5 mb-3">
              <small
                class="align-top"
                style="font-size: 22px; line-height: 45px"
                >$</small
              >149.00<small
                class="align-bottom"
                style="font-size: 16px; line-height: 40px"
                >/ Month</small
              >
            </h1>
            <div class="d-flex justify-content-between mb-3">
              <span>HTML5 & CSS3</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>Bootstrap v5</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>Responsive Layout</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <span>Cross-browser Support</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <a href="" class="btn btn-primary py-2 px-4 mt-4">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
        <div class="bg-light rounded">
          <div class="border-bottom py-4 px-5 mb-4">
            <h4 class="text-primary mb-1">Advanced Plan</h4>
            <small class="text-uppercase">For Large Size Business</small>
          </div>
          <div class="p-5 pt-0">
            <h1 class="display-5 mb-3">
              <small
                class="align-top"
                style="font-size: 22px; line-height: 45px"
                >$</small
              >149.00<small
                class="align-bottom"
                style="font-size: 16px; line-height: 40px"
                >/ Month</small
              >
            </h1>
            <div class="d-flex justify-content-between mb-3">
              <span>HTML5 & CSS3</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>Bootstrap v5</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>Responsive Layout</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <span>Cross-browser Support</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <a href="" class="btn btn-primary py-2 px-4 mt-4">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Pricing Plan End -->
<!-- Pricing Plan Start -->
<!-- Pricing Plan Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold text-primary text-uppercase">Pricing Plans</h5>
      <h1 class="mb-0">We are Offering Competitive Prices for Our Clients</h1>
    </div>
    <div class="row g-0">
      <div class="col-lg-3 wow slideInUp" data-wow-delay="0.6s">
        <div class="bg-light rounded">
          <div class="border-bottom py-4 px-5 mb-4">
            <h4 class="text-primary mb-1">متقدم</h4>
            <small class="text-uppercase"
              >مناسبة للمؤسسات والافراد التي تبحث عن تصميم منصة الكترونية مخصصة
              لاحتياجاتها لادارة منظومة العملية التعليمة وكل ما يخصها من ادارة
              المحتوى والطلاب و المدرسين والاشتراكات</small
            >
          </div>
          <div class="p-5 pt-0">
            <!-- <h1 class="display-5 mb-3">
                  <small
                    class="align-top"
                    style="font-size: 22px; line-height: 45px"
                    >$</small
                  >
                  49.00<small
                    class="align-bottom"
                    style="font-size: 16px; line-height: 40px"
                    >/ Month</small
                  >
                </h1> -->
            <div class="d-flex justify-content-between mb-3">
              <span>تلبي جميع احتياجات المنصة باي عدد من الطلاب</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span
                >جميع الخدمات المتوفرة في المنصة بالاضافة الى تصميم خدمات مخصصة
                تهدف الى تلبية جميع حاجات</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <!-- <div class="d-flex justify-content-between mb-3">
                  <span>Responsive Layout</span
                  ><i class="fa fa-times text-danger pt-1"></i>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <span>Cross-browser Support</span
                  ><i class="fa fa-times text-danger pt-1"></i>
                </div> -->
            <a href="" class="btn btn-primary py-2 px-4 mt-4">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 wow slideInUp" data-wow-delay="0.3s">
        <div class="bg-white rounded shadow position-relative">
          <div class="border-bottom py-4 px-5 mb-4">
            <h4 class="text-primary mb-1">التوسع</h4>
            <small class="text-uppercase"
              >مناسبة للمؤسسات والافراد التي تنتج بالفعل المحتوى التعليمي وتقوم
              ببيعه للطلاب وتبحث عن التوسع والتطوير من خلال منصة احترافية تلبي
              جميع احتياجاتها....مناسب لاعداد الطلاب أقل من 1000 طالب</small
            >
          </div>

          <div class="p-5 pt-0">
            <h4 class="mb-3 center">
              <!-- <small
                        class="align-top"
                        style="font-size: 22px; line-height: 45px"
                        >$</small
                      > -->
              جميع الخدمات المقدمة بنظام "الاحترافية" بالاضافة الى:

              <!-- <small
                        class="align-bottom"
                        style="font-size: 16px; line-height: 40px"
                        >/ Month</small
                      > -->
            </h4>
            <div class="d-flex justify-content-between mb-3">
              <span>نظام المجتمعات الالكتروني</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>نظام التسويق الالكتروني</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>طبيق مخصص للموبايل و أجهزة الكمبيوتر</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <!-- <div class="d-flex justify-content-between mb-2">
                  <span>Cross-browser Support</span
                  ><i class="fa fa-times text-danger pt-1"></i>
                </div> -->
            <a href="" class="btn btn-primary py-2 px-4 mt-4">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 wow slideInUp" data-wow-delay="0.6s">
        <div class="bg-light rounded">
          <div class="border-bottom py-4 px-5 mb-4">
            <h4 class="text-primary mb-1">الاحترافية</h4>
            <small class="text-uppercase"
              >مناسبة للمؤسسات والافراد التي بدأت بالفعل بانتاج المحتوى التعليمي
              و بيعه وترغب في امتلاك منصة الكترونية أو تبديل منصتها الحالية
              ....بمنصة أفضل وتحتوي على ميزات اضافية بجودة أعلى</small
            >

            <small class="text-uppercase"
              >مناسب لاعداد الطلاب أقل من 1000 طالب<br
            /></small>
          </div>
          <div class="p-5 pt-0">
            <h4 class="mb-3 center">
              <!-- <small
                      class="align-top"
                      style="font-size: 22px; line-height: 45px"
                      >$</small
                    > -->
              جميع الخدمات المقدمة بنظام "الانطلاقة" بالاضافة الى:

              <!-- <small
                      class="align-bottom"
                      style="font-size: 16px; line-height: 40px"
                      >/ Month</small
                    > -->
            </h4>
            <div class="d-flex justify-content-between mb-3">
              <span>نظام الامتحانات الالكتروني</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>نظام ادارة الاشتراكات</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>نظام نقاط البيع</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <span>نظام ادارة المستخدمين وتوزيع الصلاحيات</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>نظام المدونات</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <span>نظام التعليقات و التقيم</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <a href="" class="btn btn-primary py-2 px-4 mt-4">Order Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 wow slideInUp" data-wow-delay="0.9s">
        <div class="bg-white rounded shadow position-relative">
          <div class="border-bottom py-4 px-5 mb-4">
            <h4 class="text-primary mb-1">الانطلاقة</h4>
            <small class="text-uppercase"
              >مناسبة للمؤسسات والافراد التي ترغب في البدء بمشروع صناعة المحتوى
              ... التعليمي مناسب لاعداد الطلاب أقل من 1000 طالب</small
            >
          </div>
          <div class="p-5 pt-0">
            <h4 class="mb-3 center">
              <!-- <small
                    class="align-top"
                    style="font-size: 22px; line-height: 45px"
                    >$</small
                  > -->
              يحتوي :

              <!-- <small
                    class="align-bottom"
                    style="font-size: 16px; line-height: 40px"
                    >/ Month</small
                  > -->
            </h4>
            <div class="d-flex justify-content-between mb-3">
              <span>نظام ادارة المساقات و الدورات</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>المكتبة الالكترونية</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>خدمة البيع اونلاين </span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <span>تطبيقات الموبايل وسطح المكتب</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>نظام حماية المحتوى</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <span
                >مستخدم مدير 1 فقط (يمكن اضافة مستخدمين اخرين بالاتفاق حسب حاجة
                المنصة)</span
              ><i class="fa fa-check text-primary pt-1"></i>
            </div>
            <br />
            <br />
            <br /><br />

            <a href="" class="btn btn-primary py-2 px-4 mt-4">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pricing Plan End -->

<!-- Pricing Plan End -->
