<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold textprimaryTheam text-uppercase">جميع خدمات</h5>

      <!-- <p class="mb-0">
        We Provide Custom LMS Development Systems, Integration and
        Implementation for Online and Trade Schools, virtual schools, and
        educational platforms, providing them with the ability to offer
        eLearning solutions, and produce Educational courses and certificates.
      </p> -->
    </div>
    <div class="row g-5">
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <i class="fa fa-shield-alt text-white"></i>
          </div>
          <h4 class="mb-3">نظام الامتحانات الالكتروني</h4>
          <p>
            انشاء الاختبارات الالكترونية للدورات التعليمية و الطلاب

            <br />
            انشاء وادارة "بنك أسئلة"
          </p>
          <a
            class="btn btn-lg btn-primary rounded"
            [routerLink]="['/Home/Lms']"
          >
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
            <div
              class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            >
              <div class="service-icon">
                <i class="fa fa-chart-pie text-white"></i>
              </div>
              <h4 class="mb-3">Intelligent ChatBots</h4>
              <p class="m-0">
                AI chatbots simulate human-like conversations using natural language
                processing (NLP), AI chatbots are becoming increasingly valuable to
                organizations for automating business processes.
              </p>
              <a class="btn btn-lg btn-primary rounded" href="">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div> -->
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <i class="fa fa-code text-white"></i>
          </div>
          <h4 class="mb-3">المكتبة الالكترونية</h4>
          <p class="m-0">
            نظام شامل لانشاء مكتبة الكترونية وفهرستها حسب المحتوى المقدم
          </p>
          <a class="btn btn-lg btn-primary rounded" href="">
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <i class="fa fa-shield-alt text-white"></i>
          </div>
          <h4 class="mb-3">لاعلانات</h4>
          <p>
            اضافة الأعلانات على الصفحة الرئيسية
            <br />
            ارسال رسائل SMS لفئات محددة من المشتركين على المنصة بالعروض الخاصة.
          </p>
          <a
            class="btn btn-lg btn-primary rounded"
            [routerLink]="['/Home/Lms']"
          >
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <i class="fab fa-android text-white"></i>
          </div>
          <h4 class="mb-3">ادارة المساقات و المواد التعليمية</h4>
          <p>
            انشاء الدورات التعليمة و المساقات

            <br />
            ترتيب الدورات التعليمية حسب الطلاب و المساقات
            <br />

            انشاء المحتوى التعليمي (فيديو ، اختبارات ، ملفات)
            <br />

            ادارة و اصدار الشهادات للمساقات والدورات التعليمية
          </p>
          <a class="btn btn-lg btn-primary rounded" href="">
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
          <div
            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
          >
            <div class="service-icon">
              <i class="fa fa-shield-alt text-white"></i>
            </div>
            <h4 class="mb-3">نظام الامتحانات الالكتروني</h4>
            <p>
              انشاء الاختبارات الالكترونية للدورات التعليمية و الطلاب
  
              <br />
              انشاء وادارة "بنك أسئلة"
            </p>
            <a
              class="btn btn-lg btn-primary rounded"
              [routerLink]="['/Home/Lms']"
            >
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div> -->
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <i class="fa fa-shield-alt text-white"></i>
          </div>
          <h4 class="mb-3">ادارة حسابات المستخدمين</h4>
          <p>
            التحكم بحسابات الطلاب والمعلمين ومتابعتها
            <br />

            انشاء حسابات الادارة وخدمة العملاء و توزيع الصلاحيات لكل حساب او
            مجموعة
            <br />

            تقارير اداء الطلاب و المعلمين
          </p>
          <a
            class="btn btn-lg btn-primary rounded"
            [routerLink]="['/Home/Lms']"
          >
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
            <div
              class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            >
              <div class="service-icon">
                <i class="fa fa-chart-pie text-white"></i>
              </div>
              <h4 class="mb-3">Intelligent ChatBots</h4>
              <p class="m-0">
                AI chatbots simulate human-like conversations using natural language
                processing (NLP), AI chatbots are becoming increasingly valuable to
                organizations for automating business processes.
              </p>
              <a class="btn btn-lg btn-primary rounded" href="">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div> -->
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <i class="fa fa-code text-white"></i>
          </div>
          <h4 class="mb-3">ادارة البيع و الاشتراكات</h4>
          <p>
            امكانية البيع عبر منافذ البيع الالكتروني المختلفة

            <br />
            انشاء بطاقات التفعيل والباكيجات الخاصة بها وإدارة ملف البطاقات بما
            يتضمنه من العروض و الحزم و التسعير
            <br />

            تقارير البيع و الاشتراكات
          </p>
          <a class="btn btn-lg btn-primary rounded" href="">
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <i class="fab fa-android text-white"></i>
          </div>
          <h4 class="mb-3">الحماية</h4>
          <p>
            من خلال تطبيقات سطح المكتب والموبايل يمكنك منع الطلاب من تسجيل
            المحتوى التعليمي و نشره بطريقه غير قانونية

            <br />
            من خلال تطبيقات سطح المكتب والموبايل يمكنك ايضا تحديد عدد الاجهزة
            التي يمكن من خلالها للطالب مشاهدة الدورات التعليمية
          </p>
          <a class="btn btn-lg btn-primary rounded" href="">
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
            <div
              class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            >
              <div class="service-icon">
                <i class="fa fa-chart-pie text-white"></i>
              </div>
              <h4 class="mb-3">Intelligent ChatBots</h4>
              <p class="m-0">
                AI chatbots simulate human-like conversations using natural language
                processing (NLP), AI chatbots are becoming increasingly valuable to
                organizations for automating business processes.
              </p>
              <a class="btn btn-lg btn-primary rounded" href="">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div> -->
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <i class="fa fa-code text-white"></i>
          </div>
          <h4 class="mb-3">المنديات و المجتمعات الاكترونية</h4>
          <p>
            نشر المدونات والاخبار
            <br />
            غرف النقاش للطلاب و المعلم
            <br />
            نظام التقيم للدورات نظام الأسئلة و التعليقات
          </p>
          <a class="btn btn-lg btn-primary rounded" href="">
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
        <div
          class="position-relative primarycolorTheam rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5"
        >
          <h3 class="text-white mb-3">Call Us For Quote</h3>
          <p class="text-white mb-3">
            Clita ipsum magna kasd rebum at ipsum amet dolor justo dolor est
            magna stet eirmod
          </p>
          <h2 class="text-white mb-0">+012 345 6789</h2>
        </div>
      </div>
    </div>
  </div>
</div>
