/* You can add global styles to this file, and also import other style files */

body {
  text-align: inherit !important;
}


/* footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  
} */


.custom-icon-color {
  color: #aed9db;
  /* Change the color to your desired value */
}

.primarycolorTheam {
  background-color: #096c7c !important;
}

.textprimaryTheam {
  color: #096c7c !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #096c7c !important;
}

.text-white {
  color: #fff !important;
}

.service-item .service-icon {
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #096c7c !important;
  border-radius: 2px;
  transform: rotate(-45deg);
}

.section-title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: #096c7c !important;
  border-radius: 2px;
}

.bg-primary {
  background-color: #096c7c !important;
}